.App {
  text-align: center;
  background: rgb(122, 49, 0);
  background: linear-gradient(
    30deg,
    rgba(122, 49, 0, 1) 0%,
    rgba(143, 57, 0, 1) 35%,
    rgba(255, 102, 0, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App .App-logo {
  height: 30vmin;
  pointer-events: none;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App button {
  height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  border: none;
  background-image: "../assets/logo.svg";
  background: #ff6600;
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
}

.App button:hover {
  cursor: pointer;
  background: #fff;
  color: #61dafb;
}

.App h1 {
  color: #fff;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  border: none;
  background: #61dafb;
  color: #fff;
  font-size: 17px;
}

.App-button:hover {
  cursor: pointer;
  background: #fff;
  color: #61dafb;
}

.accountinfo {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
  margin-top: 10px;
  font-size: 1rem;
}
.botao {
  margin-left: 10px;
  font-size: 1rem;
  background-color: #d3d3d3;
  color: #666;
}
.botao:hover {
  background-color: #ff6600;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
